<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 post-production-panel-style">
      <p class="body panel-style">This is where I will welcome visitors to the page.</p>
    </div>
  </div>
</div>