
<div class="container-fluid tab-content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 post-style">
      <p class="body">This is where information about web design and development will go.</p>
    </div>
  </div>
</div>
