<div class="container-fluid home-tab-content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 post-style">
      <p class="body">This is where info about post production services will go.</p>
    </div>
  </div>
</div>