
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-6 post-style">
      <p class="body panel-style">This is where info about post production services will go.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-6 gif-frame">
      <%= image_tag "post-production-icon_256_v2.gif", :class => "img-responsive block" %>
    </div>
  </div>
</div>

