
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-6 post-style">
      <h1 class="tab-header">
        <strong style="color: #F69331">REACTIVE WEBSITES</strong> THAT SHINE,</br>
        EVEN ON YOUR GRANDMAS DEVICE
      </h1>
      <p class="body">This is where information about web development will go.</p>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-6 gif-frame">
      <%= image_tag "web-development-icon_256c_smaller.gif", :class => "img-responsive block" %>
    </div>
  </div>
</div>

