<div class="container">
  

  <div class="col-xs-8 col-xs-offset-2">
    <ul class="admin-buttons list">      
      <li><p><%= link_to 'New', new_path %></p></li>
    </ul>
  </div>



  <div class="col-xs-8 col-xs-offset-2">
    <div class="post-style">
      <% @posts.each do |p| %>
        <h1 class="titles"><%= p.title %></h1></br>
        <p class="date"><%= p.created_at.strftime("%B %d, %Y") %></p>
        <ul class="row list admin-buttons">
          
          <li><%= link_to 'Delete', post_path(p), method: :delete, data: {confirm: "Are you sure?"} %></li>
          
        </ul>
      <% end %>
    </div>
  </div>
  
</div> 