<div class="col-xs-2"></div>


<div class="col-xs-8">
  <div class="post-style">
  <% @posts.each do |p| %>
    <h1 class="titles"><%= p.title %></h1></br>
    <p class="body"><%= p.body %></p></br>
  <% end %>
  </div>
</div>

<div class="col-xs-2"></div>
