<div class="divider">
  
</div>

<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="post-style">
    <% @posts.each do |p| %>
      <h1 class="titles"><%= p.title %></h1></br>
      <p class="body"><%= p.body %></p></br>
    <% end %>
    </div>
  </div>
</div>

