
<div class="grid">
    <div class="transitions-enabled infinite-scroll clearfix" id="masonry-container"> 
      <% 5.times do %>
        <% @projects.each do |project| %>
          
          <div class="box">
            <%= link_to (image_tag project["covers"]["404"]), project["url"] %>
            <div class="panel-body">
              <h2 class="titles">
                <%= link_to project["name"], project["url"] %>
              <h2>
            </div>
            
          </div>
        <% end %> 
      <% end %>
    </div
  
</div>