<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="transitions-enabled infinite-scroll clearfix" id="masonry-container"> 
        
        <% @projects.each do |project| %>
           
          <div class="box">
            <%= link_to (image_tag project["covers"]["404"]), project["url"], :class =>'pulse' %>
            <div class="panel-body">
              <h2 class="titles">
                <%= link_to project["name"], project["url"] %>
              <h2>
            </div>
            
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>
