<div class="col-md-2"></div>

<div class="col-md-8">
  <div class="post-style">
    <h1 class="titles">Who is the Time Traveling Tiger</h1>

    <p class="body">Time Traveling Tiger is brand that provides a range of creative services to those that need them. The company is run by Colby Jarrell, A 28y.o. creative professional from Battle Creek, MI. As a child Colby spent his time making up imaginary stories that took place in science fiction and fantasy lands. As he grew up he realized that he had a passion for creative expression. He brought that passion along as he attended Grand Valley State University to study video editing, sound design and new media. After graduating with honors he moved to San Francisco, CA where began and internship as an assistant video editor at Cubik Media. Cubv</p>
  </div>
</div>
  

<div class="col-md-2"></div>