
<!-- Render j_tron partial -->
<%= render 'partials/j_tron' %>

<div class="container">
  <div class="post-style">
    <h1 class="titles">What is Time Traveling Tiger</h1>
    <p class="body">
      
    </p>

    <p class="body">
      
    </p>

    <p class="body">
   
    </p>
    <p class="body">
      
    </p>
  </div>
</div>

<!-- Render j_tron partial -->
<%= render 'partials/j_tron_two' %>

<div class="container"> 
  <div class="post-style">
    <h1 class="titles">What can Time Traveling Tiger do for you?</h1>
    <p class="body">
      Time Traveling Tiger provides a variety of creative services to it's clients:
    </p>
  </div>
 
  <div class="services">
    <div class="col-xs-4">
      <div class="list post-style">
        <li class="list-header body">Graphic Design</li>
        <li class="sub-body">Logo Design</li>
        <li class="sub-body">Flyer Design</li>
        <li class="sub-body">Merchandise Design</li>
        <li class="sub-body">Web Design</li>
     </div>
    </div>

    <div class="col-xs-4">
      <ul class="list post-style">
        <li class="list-header body">Video Editing</li>
        <li class="sub-body">Sound Design</li>
        <li class="sub-body">Motion Graphics</li>
        <li class="sub-body">3D Compositing</li>
        <li class="sub-body">Color Correcting</li>
        <li class="sub-body">DVD Authoring</li>
     </ul>
    </div>

    <div class="col-xs-4">
      <ul class="list post-style">
        <li class="list-header body">Web Development</li>
        <li class="sub-body">HTML / CSS</li>
        <li class="sub-body">Jquery / Javascript</li>
        <li class="sub-body">Ruby on Rails</li>
        <li class="sub-body">Deployment</li>
     </ul>
    </div>
  </div>
</div>


