.navbar .navbar-nav {
    height: 45px;
    display: inline-block;
    float: none;
    font-family: Optima;
    box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.75);
}

.navbar .navbar-collapse {
    text-align: center;
}

