//= require_tree .
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.banner {
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.post-style {
  text-align: center;
}

.titles {
  font-size: 1.75em;
  font-family: Optima;
  text-decoration: underline;
}

.body {
  font-size: 1.25em;
  font-family: Optima;
}

.sub-body {
  font-size: 1em;
  font-family: Optima;
}

.about {
  margin-left: 100px;
  margin-right: 100px;
}

.list-header {
  text-decoration: underline;
}

.list {
  list-style: none;
}

.admin-nav li {
  display: inline;
  margin-right: auto;
  margin-left: auto;
}

.admin-nav p{
  text-align: center;
}

.admin {
  margin-left: auto;
  margin-right: auto;
}

.modal-dialog {
  width: 250px;
  height: 348px;
}

.modal-header {
  .modal-style {
    border: 1px solid white;
    border-radius: 5px;
  }
}

.modal-content {
  height: 348px;
  background-image: url("stripes.jpg");
  color: #EC911D;
}

.modal-style {
  background-color: #222222;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.carousel-inner {
  height: 20em;
  border-top: groove #222222;
  border-bottom: groove #222222;
}

.divider {
  background-image: url("stripes.jpg");
  height: 35px;
  width: 10ems;
  border-top: groove #222222;
  border-bottom: groove #222222;
  
}