//= require_tree .
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.banner {
  height: 155px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: dotted #222222;
}

