// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// bxslider-carousel 
.bxslider{
  width:auto;
  background-color:#222222;
}
.bx-viewport, .bx-wrapper img {
  border: 1px solid #F69331;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
}
.bx-next, .bx-prev {
  -webkit-border-radius:30px;
  -khtml-border-radius:30px;
  -moz-border-radius:30px;
  -o-border-radius:30px;
  border-radius:30px;
  border: 1px solid #F69331;
}

// home page tab styling
.home-screen-panels { 
  background-color: #222222;
  border: 3px groove #F69331;
  border-radius: 20px;
  
  
  
  -o-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
}

@-moz-keyframes tab-rotate /*--for firefox--*/{

  from{
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }       
  to{
    -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  }                       

}

@-webkit-keyframes tab-rotate /*--for webkit--*/{

  from{
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }       
  to{
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  }                       

}

@-moz-keyframes tab-rotate-2 /*--for firefox--*/{

  from{
    -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg);
  }       
  to{
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }                       

}

@-webkit-keyframes tab-rotate-2 /*--for webkit--*/{

  from{
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);

  }       
  to{
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }                       

}



.nav {
  border-bottom: 1px solid #F69331;
}
.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */

}

.nav-tabs, .nav-pills {
  text-align:center;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;

}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  font-family: Impact, Charcoal, sans-serif;
  color: #ddd;
  font-size: 2em;
  font-size: 30px;
  font-size: 2.75vw;
  text-shadow: 0px 0px 5px #F69331;
  cursor: default;
  background-color: #474747;
  border: 1px solid #F69331;
  border-bottom-color: transparent;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.nav-tabs > li > a{
  font-family: Impact, Charcoal, sans-serif;
  color: #222222;
  font-size: 2em;
  font-size: 30px;
  font-size: 2.75vw;
  text-shadow: 0px 0px 5px #F69331;
  cursor: default;
  background-color: #F69331;
  border: 1px solid #F69331;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.tab-pane {
    background-color: #474747;
    margin-left: 5px;  
    margin-right: 5px;
    margin-bottom: 5px;
    border-left: 1px solid #F69331;
    border-right: 1px solid #F69331;
    border-bottom: 1px solid #F69331;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
}

.panel-style {
  color: #F69331;
}

//flatlogic tab-collapse styling
.panel {
  background: rgba(200, 54, 54, 0);
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
}


.panel-inverse > .panel-heading {
  border: 2px groove #ddd; 
  border-radius: 30px;
  background-color: #F69331;
  margin: 10px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-property: background-color;
  transition-duration: 1.5s;
  -webkit-transition-property: margin;
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-property: margin;
  transition-duration: 1.5s;
  -webkit-transition-property: border;
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-property: border;
  transition-duration: 1.5s;

  .panel-title {
    font-family: Impact, Charcoal, sans-serif;
    color: #222222;
    text-align: center;
    font-size: 2em;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    -webkit-transition-property: color;
    -webkit-transition-duration: 1.5s; /* Safari */
    transition-property: color;
    transition-duration: 1.5s;
  }
}

.panel-inverse > .panel-heading:hover {
  margin: 0px;
  border: 1px solid #F69331; 
  border-radius: 15px 15px 0px 0px;
  background-color: #222222;

  .panel-title {
    font-family: Impact, Charcoal, sans-serif;
    color: #ddd;
    text-align: center;
    font-size: 2em;
    text-shadow: 0px 0px 3px #F69331;
  }
}


.js-tabcollapse-panel-body {
  background-color: #474747;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #F69331;
}



//masonry styling
#masonry-container {
  background: #222222;
  padding: 5px;
  margin: 0 auto; 
  border-radius: 5px;
  border: 3px groove #F69331;
  clear: both;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  h1 {
    color: #F69331;
  }
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
  max-width: 440px;
  -webkit-box-shadow: inset 1px -1px 3px 0px rgba(82,80,82,1);
  -moz-box-shadow: inset 1px -1px 3px 0px rgba(82,80,82,1);
  box-shadow: inset 1px -1px 3px 0px rgba(82,80,82,1);
  background-color: #F69331;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-property: background-color;
  transition-duration: 1.5s;
  
 
  img {
  -webkit-box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  border: 1px solid #222222;
  }
  a {
    color: #222222;
    max-width: 440px;
    text-shadow: 0px 0px 6px #ddd;
  }
  h2 {
    
    font-size: 3em;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: none;
    text-align: center;
  }
}

.box:hover {

  background-color: #474747;
  border: 1px solid #F69331;
  cursor: pointer;
  img {
  -webkit-box-shadow: -1px 2px 2px 0px rgba(244,146,49,1);
  -moz-box-shadow: inset -1px 2px 2px 0px rgba(244,146,49,1);
  box-shadow: -1px 2px 2px 0px rgba(244,146,49,1);
  }
  a {
    color: #ddd;
    max-width: 440px;
    text-shadow: 0px 0px 5px #F69331;
  }
}